/* @import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix); */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-image: url('/images/topbar.png'); */
    background-color: #02002E;
}
.left{
    display: flex;
    align-items: center;
}
nav .left img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
nav .links{
    display: flex;
    align-items: center;
}
nav .links li{
    list-style: none;
    padding: 22px 20px;
    font-family: 'copperplate', sans-serif;
}
nav .links li a{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
    font-size: 25px;
    /* font-family: 'copperplate', sans-serif; */
    font-family: monospace;
                                                
}
nav .links li a:hover{
    /* text-decoration: underline; */
    color: #f54d85;
}

@media screen and (max-width:969px){
    nav .links li a{
        padding: 0px;
        font-size: 15px;            
    }
    nav .left img{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width:537px){
    nav .links li a{
        padding: 0px;
        font-size: 10px;            
    }
    nav .links li{
        padding: 17px 10px;
    }
    nav .left img{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:310px){
    nav .links li a{
        padding: 0px;
        font-size: 7px;            
    }
    nav .links li{
        padding: 22px 4px;
    }
    /* nav .left img{
        width: 30px;
        height: 30px;
    } */
}